body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;

    padding: 0;
}

div {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body >div{
    margin-top: 25vh
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    padding-right: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 3vh;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
}

table {
    width: 100%;
    margin-top: 20px;
}

td {
    text-align: center;
    padding: 10px 0;
}

.contenedor-centrado {
    text-align: center;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #000;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}


label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #A89238;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > button{
    margin-top: 20px;
}



/*body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}


.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: center;
}


p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}


h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #007bff;
}


form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
}


table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
}


label {
    display: block;
    margin-bottom: 5px;
}


input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}


input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: #0056b3;
}


button {
    padding: 8px;
    margin:4px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background-color: #0056b3;
}


a {
    padding: 8px;
    margin:4px;
    background-color: #fdab13;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
}


a:hover {
    background-color: #cd7b00;
}